html {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  line-height: 1.5;
  margin: 0;
}

#nav {
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 10px; /* Optional: Add some spacing between items */
}

#content {
  max-width: 40rem;
  width: 100vw;
  padding: 2.5rem 1.5rem;
}

.post-link,
.post-byline,
.post-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0.8em 0;
}

h1.title {
  font-size: 2.5em;
}

h1,
h2,
h3,
h4 {
  margin: 0.8em 0 0.5em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: #666;
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
  color: #666;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

a {
  color: #2a6286;
}

a:not(:hover) {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  padding: 0 0.2em;
}

.file {
  font-weight: bold;
  border: unset;
}

figure {
  margin: 0;
}
figure pre {
  margin-top: 0;
}

figcaption {
  padding-left: 0.5em;
  font-size: 0.9em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

pre {
  color: white;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e !important;
  font-size: 0.85em;
  overflow: auto;
}

.post-box {
  border-radius: 6px;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

code {
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  padding: 3px;
  font-size: 1.1em;
}

pre > code {
  border: none;
  padding: 15px;
  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1.3em !important;
  display: inline-block;
  box-sizing: border-box;
  min-width: 100%;
}

.code {
  font-family: monospace;
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

h1:lang(ja),
h2:lang(ja),
h3:lang(ja),
h4:lang(ja) {
  margin: 0.7em 0 0.7em;
  font-feature-settings: "palt";
}

.box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

.box.thin {
  padding: 0 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #bbb;
  }

  .box {
    border-color: white;
  }

  .post-box {
    background: #1e1e1e;
  }

  a {
    color: #88f;
  }

  pre > code {
    background: #1e1e1e;
    color: #ccc;
    line-height: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #ccc;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    color: #ccc;
  }

  strong {
    color: #eee;
  }
}

@media only screen and (max-width: 1000px) {
  table {
    display: block;
    overflow: auto;
  }

  .container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  ul {
    padding-left: 1em;
  }

  p {
    text-align: justify;
  }
}

video {
  max-width: 100%;
}

#back {
  margin-top: 1em;
  display: inline-block;
}
