package home

import "github.com/ryzech/ryzech.net/view/layout"

templ Home() {
	@layout.Base() {
		<div class="home">
			<button class="rounded-md">Hello world!</button>
			<h1>Hello there</h1>
			<div i-logos-vue></div>
		</div>
	}
}
