package home

import (
	"github.com/ryzech/ryzech.net/view/components"
	"github.com/ryzech/ryzech.net/view/layout"
)

templ Home() {
	@layout.Base() {
		<div class="home">
			@components.Nav()
		</div>
	}
}
